body {
    background-color: rgb(179, 56, 56);
    font-family: 'Anton', sans-serif;
}
header{
    font-size: 35px;
    line-height: 48px;
}
h4{
    font-size: 21px;
}
h4 #clock {
    font-size: 36px;
    display: block;
    padding: 5px 0px;
}
.page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: rgb(179, 56, 56);
    border-radius: 5px;
}